body {
    background-image: url('../images/background.jpg');
    background-size: 100%;
}

#outside {
    width: 850px;
    height: 900px;
    border: 2px solid #000;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #ffffff;
}

#inside {
    width: 780px;
    height: 820px;
    border: 2px solid #000;
    margin: 0 auto;
    margin-top: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#homeside{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeButton {
    background-image: url('../images/home_button.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

#welcome {
    width: 50%;
    height: 70%;
    background-color: white;
    border: white;
    font-size: 30px;
}

#buttonLogin {
    background-color: white;
    border: 0;
    font-size: 30px;
    float: left;
}

#buttonJoin {
    background-color: white;
    border: 0;
    font-size: 30px;
    float: right;
    top: 85%;
}

.mypagediv {
  justify-content: space-around;
}

#myCharacter {
  background-image: url(../images/vmtk.jpg);
  width: 300px;
  height: 300px;
}

#myPage {
  background-image: url(../images/wkrlthro.png);
  width: 200px;
  height: 200px;
}
#tour {
  background-image: url(../images/cnlalpng.png);
  width: 200px;
  height: 200px;
}
#roadmap {
  background-image: url(../images/fhemaoq.png);
  width: 200px;
  height: 200px;
}
#members {
  background-image: url(../images/ahrfhr.png);
  width: 200px;
  height: 200px;
}

#membersList {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 20px auto;
    width: 80vw;
}

#rerere {
    display: inline-block;
}

/* * {box-sizing: border-box} */
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 70%;
  position: relative;
  margin: auto;
  margin-top: 15%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000;
  font-size: 20px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#java {
  background-image: url(../images/java.png);
  width: 100px;
  height: 100px;
}
#oracle {
  background-image: url(../images/oracle.png);
  width: 100px;
  height: 100px;
}
#html {
  background-image: url(../images/html.png);
  width: 100px;
  height: 100px;
}
#css {
  background-image: url(../images/css.png);
  width: 100px;
  height: 100px;
}
#js {
  background-image: url(../images/js.png);
  width: 100px;
  height: 100px;
}
#jquery {
  background-image: url(../images/jquery.png);
  width: 100px;
  height: 100px;
}
#react {
  background-image: url(../images/react.png);
  width: 100px;
  height: 100px;
}
#servlet {
  background-image: url(../images/servlet.png);
  width: 100px;
  height: 100px;
}
#jsp {
  background-image: url(../images/jsp.png);
  width: 100px;
  height: 100px;
}
#springframework {
  background-image: url(../images/springframework.png);
  width: 100px;
  height: 100px;
}