body {
    background-size: 100%;
}

#outside {
    width: 850px;
    height: 900px;
    border: 2px solid #000;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

#inside {
    width: 780px;
    height: 820px;
    border: 2px solid #000;
    margin: 0 auto;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeside{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeButton {
    background-image: url('../images/home_button.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: inline-block;
}