body {
    background-size: 100%;
}

#outside {
    width: 850px;
    height: 900px;
    border: 2px solid #000;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

#inside {
    width: 780px;
    height: 820px;
    border: 2px solid #000;
    margin: 0 auto;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeside{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeButton {
    background-image: url('../images/home_button.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

#java {
    background-image: url(../images/java.png);
    width: 100px;
    height: 100px;
  }
#oracle {
    background-image: url(../images/oracle.png);
    width: 100px;
    height: 100px;
  }
#html {
    background-image: url(../images/html.png);
    width: 100px;
    height: 100px;
  }
#css {
    background-image: url(../images/css.png);
    width: 100px;
    height: 100px;
  }
#js {
    background-image: url(../images/js.png);
    width: 100px;
    height: 100px;
  }
#jquery {
    background-image: url(../images/jquery.png);
    width: 100px;
    height: 100px;
  }
#react {
    background-image: url(../images/react.png);
    width: 100px;
    height: 100px;
  }
#servlet {
    background-image: url(../images/servlet.png);
    width: 100px;
    height: 100px;
  }
#jsp {
    background-image: url(../images/jsp.png);
    width: 100px;
    height: 100px;
  }
#springframework {
    background-image: url(../images/springframework.png);
    width: 100px;
    height: 100px;
  }